/* Game Area */
#gameArea {
  position: relative;
  width: 960px;
  height: 540px;
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
  overflow: hidden;
  margin: 0 auto; /* Center on page */
}

#decribtion {
  position: relative;
  display: flex;
  justify-content: center;
}

/* Player */
#player {
  position: absolute;
  width: 100px; /* Set appropriate width for animation */
  height: 100px; /* Set appropriate height for animation */
  top: 50%; /* Center vertically */
  left: 5%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset for perfect centering */
}
